import './LoginForm.css';
import { useState } from 'react';
import { Link, useNavigate } from 'react-router-dom';
import { useForm } from 'react-hook-form';

import src from '../../assets/NavHeader.svg';
import background from '../../assets/Login_Background.jpg';

interface LoginFormData {
    email: string;
    senha: string;
}

const savedData = localStorage.getItem("loginFormData");
const defaultValues: Partial<LoginFormData> = savedData ? JSON.parse(savedData) : {};

export default function LoginForm() {
    const { register, handleSubmit, reset, formState: { errors } } = useForm<LoginFormData>({
        defaultValues
    });

    const [loginError, setLoginError] = useState("");
    const navigate = useNavigate();

    const onSubmit = (data: LoginFormData) => {
        const userDataRaw = localStorage.getItem("registerFormData");
        if (!userDataRaw) {
            setLoginError("Usuário não cadastrado!");
            return;
        }
        const userData = JSON.parse(userDataRaw);
        if (data.email === userData.email && data.senha === userData.senha) {
            setLoginError("");
            localStorage.removeItem("loginFormData");
            reset();
            navigate("/home");
        } else {
            setLoginError("Email ou senha incorretos.");
        }
    };

    return (
        <div
            className="login-container w-full h-screen flex justify-end font-poppins"
            style={{
                backgroundImage: `url(${background})`,
                backgroundSize: 'cover',
                backgroundPosition: 'center',
            }}
        >
            <div className='w-2/4 h-auto flex flex-col mt-3 bg-white items-center justify-center font-poppins border-t-2 border-l-2 rounded-tl-3xl'>
                <img className='mb-8' src={src} alt="Navigation Header" />

                <div className='inset-shadow-sms p-8 rounded-lg border border-gray-300 flex flex-col'>
                    <h1 className="text-2xl font-bold">Aceesse o portal</h1>
                    <span className='text-sm text-gray-500 mb-10'>Entre usando seu e-mail e senha cadastrados</span>

                    <form className="flex flex-col gap-5 w-80" onSubmit={handleSubmit(onSubmit)}>
                        <div className='flex flex-col'>
                            <label className='text-xs font-bold text-gray-500'>E-MAIL</label>
                            <input
                                type="text"
                                placeholder="exemplo@mail.com"
                                className="h-10 text-sm bg-white border-b border-gray-300 outline-blue-700 font-poppins"
                                {...register("email", { required: "E-mail obrigatório" })}
                            />
                            {errors.email && <span className="text-xs text-red-600 mt-2">{errors.email.message}</span>}
                        </div>

                        <div className='flex flex-col'>
                            <label className='text-xs font-bold text-gray-500'>SENHA</label>
                            <input
                                type="password"
                                placeholder="Digite sua senha"
                                className="h-10 text-sm bg-white border-b border-gray-300 outline-blue-700 font-poppins"
                                {...register("senha", { required: "Senha obrigatória" })}
                            />
                            {errors.senha && <span className="text-xs text-red-600 mt-2">{errors.senha.message}</span>}
                        </div>

                        <button
                            type="submit"
                            className="h-13 bg-black rounded-md text-white font-semibold text-base px-3 cursor-pointer transition-filter duration-200 hover:brightness-90 border-none"
                        >
                            Entrar
                        </button>
                        {loginError && <span className="text-xs text-red-600 mt-2">{loginError}</span>}
                    </form>
                </div>

                <div className='inset-shadow-sms p-8 mt-5 rounded-lg border border-gray-300 flex flex-col w-97'>
                    <h1 className="text-1.5xl font-bold">Ainda não tem uma conta?</h1>
                    <span className='text-sm text-gray-500 mb-8'>Cadastre agora mesmo</span>

                    <Link to="/register">
                        <button
                            type="submit"
                            className="h-13 w-full bg-gray-200 rounded-md text-black font-semibold text-base px-3 cursor-pointer transition-filter duration-200 hover:brightness-90 border-none"
                        >
                            Criar uma conta
                        </button>
                    </Link>
                </div>
            </div>
        </div>
    );
}
